/**
 * Crafted by Aidar Ibatullin <amazing.space.invader@gmail.com>
 * 30.11.16
 */

@import "normalize.css";

body {
  font-family: 'Roboto';
  font-weight: 400;
  color: #131313;
  background: #fdfdfd;
  font-size: 14px;
}
