/**
 * Crafted by Aidar Ibatullin <amazing.space.invader@gmail.com>
 * 30.11.16
 */

@import "normalize.css";

body {
  font-family: 'GT Walsheim';
  font-weight: 400;
  color: #2d459e;
  background: #fdfdfd;
  font-size: 18px;
}
