.chat {
	position: absolute;
	top: -530px;
	left: -266px;
    width: 350px;
	height: 500px;
	background: #eee;
	border-radius: 5px;
	z-index: -999;
	opacity: 0;
	transform: scale(1.5);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: .3s ease-out opacity, .3s ease-out transform;

	&.open {
		z-index: 999;
		opacity: 1;
		transform: scale(1);
	}
}
